asgiref==3.8.1
bootstrap4==0.1.0
crispy-bootstrap4==2024.10
Django==4.2.9
django-crispy-forms==2.4
django-theme-soft-design==1.0.10
gunicorn==21.2.0
packaging==25.0
python-dotenv==1.0.1
sqlparse==0.5.3
str2bool==1.1
tzdata==2025.2
whitenoise==6.6.0
